footer {
  background: #000;
  height: auto;
  color: #fff;
  padding: 50px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-social {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-social img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}
footer .footer-social .footer-media {
  margin-top: 25px;
}
footer .footer-social .footer-media i {
  color: #fff;
  font-size: 25px;
  margin-inline: 7px;
}
footer .footer-nav {
  width: auto;
  padding-inline: 60px;
  margin-bottom: 65px;
  margin-top: 25px;
  text-align: center;
}
footer .footer-nav ul {
  list-style: none;
}
footer .footer-nav ul li {
  margin: 15px 0px;
}
footer .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
footer .footer-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-copy a {
  color: #fff;
  text-decoration: none;
}
footer .footer-copy a i {
  margin-left: 10px;
}
footer .footer-copy p {
  text-align: center;
  color: #999;
}
