@clr-black: #000;
@clr-white: #fff;
@clr-gray: #999;
.font {
  font-family: "DM Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  .font;
}
header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-block: 20px;
  animation:slideInDown 1s both;
  section {
    display: flex;
    color: @clr-black;
    img {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }
    h1 {
      margin-block: 2px;
    }
  }
  i {
    font-size: 25px;
    margin-block: 2px;
  }
  nav {
    margin-top: 33px;
    position: absolute;
    width: 90%;
    display: flex;
    flex-direction: column;
    background: @clr-white;
    padding: 10px 5px;
    ul {
      list-style: none;
      margin: 25px 0px 20px 0px;
      li {
        text-align: center;
        margin-block: 15px;
        cursor:pointer;
        a{
          text-decoration: none;
          color: @clr-black;
        }
        a:hover,
        a:active{
          text-decoration: underline;
          color:rgb(195, 194, 194);
        }
      }
    }
    hr {
      width: 80%;
      margin: 0 auto;
      border: 0.5px solid @clr-black;
      margin-bottom: 10px;
    }
    button {
      padding: 15px;
      width: 150px;
      background: @clr-black;
      color: @clr-white;
      border: none;
      margin: 0 auto;
      cursor: pointer;
    }
    button:active,
    button:hover{
      background: rgb(216, 215, 215);
      color: @clr-black;
    }
  }
}
.display-None{
  display: none;
}


@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
  }
}
//https://nhhlan.github.io/photosnap/#
