.font {
  font-family: "DM Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}
header {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-block: 20px;
  -webkit-animation: slideInDown 1s both;
  animation: slideInDown 1s both;
}
header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}
header section img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
header section h1 {
  margin-block: 2px;
}
header i {
  font-size: 25px;
  margin-block: 2px;
}
header nav {
  margin-top: 33px;
  position: absolute;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  padding: 10px 5px;
}
header nav ul {
  list-style: none;
  margin: 25px 0px 20px 0px;
}
header nav ul li {
  text-align: center;
  margin-block: 15px;
  cursor: pointer;
}
header nav ul li a {
  text-decoration: none;
  color: #000;
}
header nav ul li a:hover,
header nav ul li a:active {
  text-decoration: underline;
  color: #c3c2c2;
}
header nav hr {
  width: 80%;
  margin: 0 auto;
  border: 0.5px solid #000;
  margin-bottom: 10px;
}
header nav button {
  padding: 15px;
  width: 150px;
  background: #000;
  color: #fff;
  border: none;
  margin: 0 auto;
  cursor: pointer;
}
header nav button:active,
header nav button:hover {
  background: #d8d7d7;
  color: #000;
}
.display-None {
  display: none;
}
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
main section picture img {
  width: 100%;
  max-height: 450px;
  -webkit-animation: slideInRight 1s both;
  animation: slideInRight 1s both;
}
main section div {
  padding: 60px 20px;
}
main section div h2 {
  font-size: 2rem;
  line-height: 40px;
  margin-bottom: 20px;
}
main section div p {
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 20px;
  color: #999;
}
main section div a {
  text-decoration: none;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
main section div a svg {
  color: #fff;
  width: 15px;
  margin-inline: 7px;
}
main section div a .dark-arrow {
  color: #000;
}
main section div a:active {
  -webkit-text-decoration: uppercase;
  text-decoration: uppercase;
}
main .pricing--table {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}
main .pricing--table .pricing--title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 25px;
}
main .pricing--table div {
  text-align: left;
  padding: 0px;
}
main .pricing--table div h2 {
  font-size: 1.1rem;
  margin: 0px;
}
main .pricing--table div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
main .pricing--table div div .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60px;
  border-bottom: none;
}
main .pricing--table div div .content svg {
  width: 20px;
}
main .container--main__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  min-width: 200px;
}
main .gray {
  color: gray;
}
main .container-switch {
  display: inline-block;
  width: 60px;
  height: 2rem;
  background-color: #dfdfdf;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  padding: 0px;
}
main .inner-circle {
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 50%;
  padding: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
main .active {
  -webkit-transform: translateX(33px);
  transform: translateX(33px);
}
main .pricing--cards__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-block: 60px;
}
main .pricing--cards__pay div {
  width: 100%;
  height: auto;
  max-width: 280px;
  background-color: rgba(223, 223, 223, 0.5);
  text-align: center;
  margin: 25px;
}
main .pricing--cards__pay div h2 {
  font-size: 1.5rem;
}
main .pricing--cards__pay div p {
  font-size: 1.1rem;
  line-height: 20px;
}
main .pricing--cards__pay div .cost {
  font-size: 3rem;
  color: #000;
}
main .pricing--cards__pay div button {
  margin-top: 20px;
  letter-spacing: 2px;
  background: #000;
  color: #fff;
  padding: 10px 50px;
  border: none;
}
main .pricing--cards__pay div button:hover,
main .pricing--cards__pay div button:active {
  background-color: rgba(189, 188, 188, 0.5);
  color: #000;
}
main .pricing--cards__pay .pricing--card__pro {
  background: #000;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
main .pricing--cards__pay .pricing--card__pro h2 {
  color: #fff;
}
main .pricing--cards__pay .pricing--card__pro .cost {
  color: #fff;
}
main .pricing--cards__pay .pricing--card__pro button {
  background-color: #fff;
  color: #000;
}
main .features--service__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
main .galery--main {
  position: relative;
  height: 100%;
  display: block;
  background: #000;
}
main .galery--main img {
  width: 100%;
  height: auto;
  max-height: 450px;
}
main .galery--main div {
  color: #fff;
  position: absolute;
  top: 0px;
  width: auto;
  max-width: 500px;
  padding-left: 5%;
}
main .galery--main div h2 {
  text-transform: uppercase;
}
main .galery--main div p {
  color: #fff;
}
main .galery--content__img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 400px;
  grid-template-rows: 400px;
}
main .galery--content__img > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
main .galery--content__img > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
main .galery--content__img > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
main .galery--content__img > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
main .create {
  background: #000;
  max-width: 1500px;
  margin: 0 auto;
}
main .create-content {
  color: #fff;
}
main .create a {
  color: #fff;
}
main .create a:active,
main .create a:hover {
  text-decoration: underline;
  color: #c3c2c2;
}
main .stories {
  max-width: 1500px;
  margin: 0 auto;
}
main .stories a {
  color: #000;
}
main .stories a:active,
main .stories a:hover {
  text-decoration: underline;
  color: #7e7e7e;
}
.designed {
  max-width: 1500px;
  margin: 0 auto;
}
main .designed a {
  color: #000;
}
main .designed a:active,
main .designed a:hover {
  text-decoration: underline;
  color: #7e7e7e;
}
main .card {
  padding: 0;
  display: -ms-grid;
  display: grid;
  max-width: 1500px;
  margin: 0 auto;
}
main .card .mountain-card {
  background-image: url(https://i.ibb.co/wW5xXFg/mountain-1.jpg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
main .card .sunset-card {
  background-image: url(https://i.ibb.co/VmJwqSh/city-2-2.jpg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
main .card .person-card {
  background-image: url(https://i.ibb.co/z8QFbWM/person-3.jpg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
main .card .architecture-card {
  background-image: url(https://i.ibb.co/vZ5kkzn/structure-4.jpg);
  -webkit-transition: all 1s;
  transition: all 1s;
}
main .card .mountain-card:hover,
main .card .sunset-card:hover,
main .card .person-card:hover,
main .card .architecture-card:hover {
  -webkit-animation: jump 0.5s linear forwards;
  animation: jump 0.5s linear forwards;
}
main .card div {
  height: auto;
  max-height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2);
}
main .card div .container-card {
  padding-top: 170px;
  padding-bottom: 0;
  height: auto;
  color: #fff;
}
main .card div .container-card h3 {
  font-size: 1.25rem;
}
main .card div .container-card p {
  font-size: 1rem;
  margin-bottom: 0;
  color: #fff;
}
main .card div .container-card hr {
  border: 0.3px solid #fff;
  margin-bottom: 10px;
  margin-top: 10px;
}
main .card div .container-card a {
  color: #fff;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
main .info {
  width: 90%;
  margin: 0 auto;
  margin-block: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 3000px;
}
main .info .info--noLimit {
  margin-top: 36px;
}
@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@media (max-width: 790px) {
  main .galery--main {
    position: relative;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 360px 1fr;
    grid-template-rows: 360px 1fr;
  }
  main .galery--main img {
    width: 100%;
    height: 350px;
  }
  main .galery--main div {
    position: relative;
    padding: 10px;
  }
  main .galery--content__img {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 400px) {
  main .galery--content__img {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
footer {
  background: #000;
  height: auto;
  color: #fff;
  padding: 50px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
footer .footer-social {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
footer .footer-social img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}
footer .footer-social .footer-media {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer-social .footer-media svg {
  color: #fff;
  width: 20px;
  margin-inline: 7px;
}
footer .footer-social .footer-media svg:hover,
footer .footer-social .footer-media svg:active {
  color: #c3c2c2;
}
footer .footer-nav {
  width: auto;
  padding-inline: 60px;
  margin-bottom: 65px;
  margin-top: 25px;
  text-align: center;
}
footer .footer-nav ul {
  list-style: none;
}
footer .footer-nav ul li {
  margin: 15px 0px;
}
footer .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
footer .footer-nav ul li a:hover,
footer .footer-nav ul li a:active {
  text-decoration: underline;
  color: #c3c2c2;
}
footer .footer-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
footer .footer-copy a {
  color: #fff;
  text-decoration: none;
}
footer .footer-copy a svg {
  width: 15px;
  margin-left: 10px;
}
footer .footer-copy a:active,
footer .footer-copy a:hover {
  text-decoration: underline;
  color: #c3c2c2;
}
footer .footer-copy p {
  text-align: center;
  color: #999;
}
@media (max-width: 768px) {
  main .card {
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 768px) {
  main .card {
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  main .card > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  main .card > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  main .card > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  main .card > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .info-infinity {
    margin-top: 36px;
  }
  .create,
  .designed {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .create picture,
  .designed picture {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1 / 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .create div,
  .designed div {
    width: 300px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }
  .stories {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr;
    grid-template-columns: 1.5fr 1fr;
  }
  .stories div {
    width: 300px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }
  .stories picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (min-width: 960px) {
  main .card {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  main .card > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  main .card > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  main .card > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  main .card > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
}
@media (min-width: 767px) {
  .fa-bars {
    display: none;
  }
  .display-None {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 50px 1.5fr;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 50px;
  }
  header .header-icom {
    margin-top: 8px;
  }
  header nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: inherit;
    margin-top: 0px;
    padding: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  header nav ul li {
    margin-inline: 10px;
  }
  header nav hr {
    display: none;
  }
  header nav button {
    margin: 0px;
    height: auto;
    margin-left: 80px;
  }
}
